<div class="auth-container">
  <mat-card class="auth-card">
    <mat-card-header>
      <mat-card-title>
        <h1>Reservations Fitness Center</h1>
        <p>Sign Up</p>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSignup()" [formGroup]="signupForm">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" required />
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required />
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required />
        </mat-form-field>
        <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="isLoading">
          {{ isLoading ? 'Signing up...' : 'Sign Up' }}
        </button>
      </form>
    </mat-card-content>
    <mat-card-footer *ngIf="authMessage">
      <div class="auth-message">{{ authMessage }}</div>
    </mat-card-footer>
  </mat-card>
</div>
